*{
	margin:0;
	padding:0;
	box-sizing:border-box;
	font-family:Arial,sans-serif;
}

body{
	background:linear-gradient(135deg,#0f172a,#1e3a8a,#2563eb);
	min-height:100vh;
	display:flex;
	justify-content:center;
	align-items:center;
	overflow:hidden;
	color:white;
}

.background{
	position:fixed;
	width:200%;
	height:200%;
	background:
	radial-gradient(circle,#60a5fa33 0%,transparent 40%),
	radial-gradient(circle,#22d3ee22 0%,transparent 45%);
	animation:bgMove 15s linear infinite;
}

@keyframes bgMove{
	from{transform:translate(0,0);}
	to{transform:translate(-20%,-20%);}
}

.container{
	position:relative;
	z-index:2;
	width:95%;
	max-width:520px;
	padding:30px;
	border-radius:25px;
	background:rgba(255,255,255,.12);
	backdrop-filter:blur(18px);
	box-shadow:0 0 35px rgba(0,0,0,.35);
	text-align:center;
}

h1{
	font-size:45px;
	margin-bottom:20px;
}

h2{
	margin-bottom:20px;
}

.buttons{
	display:flex;
	flex-direction:column;
	gap:18px;
}

.difficulty{
	border:none;
	padding:18px;
	font-size:24px;
	border-radius:18px;
	cursor:pointer;
	color:white;
	transition:.25s;
}

.easy{
	background:#22c55e;
}

.medium{
	background:#f59e0b;
}

.hard{
	background:#ef4444;
}

.difficulty:hover{
	transform:scale(1.05);
	box-shadow:0 0 20px white;
}

.hidden{
	display:none;
}

.top{
	display:flex;
	justify-content:space-between;
	align-items:center;
	margin-bottom:25px;
}

#status{
	font-size:22px;
	font-weight:bold;
}

#restart{
	background:#3b82f6;
	border:none;
	color:white;
	padding:10px 18px;
	border-radius:12px;
	cursor:pointer;
	font-size:17px;
	transition:.2s;
}

#restart:hover{
	transform:scale(1.08);
}

#board{
	display:grid;
	grid-template-columns:repeat(3,1fr);
	gap:12px;
}

.cell{
	aspect-ratio:1;
	background:rgba(255,255,255,.15);
	border-radius:18px;
	display:flex;
	justify-content:center;
	align-items:center;
	font-size:65px;
	cursor:pointer;
	transition:.2s;
	user-select:none;
}

.cell:hover{
	background:rgba(255,255,255,.3);
	transform:scale(1.05);
}

.popup{
	position:fixed;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);
	background:white;
	color:#111;
	padding:35px;
	border-radius:25px;
	box-shadow:0 0 35px black;
	width:330px;
	animation:pop .3s;
	z-index:50;
}

@keyframes pop{
	from{
		transform:translate(-50%,-50%) scale(.5);
		opacity:0;
	}
	to{
		transform:translate(-50%,-50%) scale(1);
		opacity:1;
	}
}

.popup h2{
	margin-bottom:25px;
}

.popup button{
	width:100%;
	padding:15px;
	margin-top:12px;
	border:none;
	border-radius:15px;
	background:#2563eb;
	color:white;
	font-size:19px;
	cursor:pointer;
	transition:.2s;
}

.popup button:hover{
	transform:scale(1.05);
}

.win{
	background:#22c55e !important;
	animation:flash .8s infinite;
}

@keyframes flash{
	0%{transform:scale(1);}
	50%{transform:scale(1.08);}
	100%{transform:scale(1);}
}

@media(max-width:600px){

	h1{
		font-size:34px;
	}

	.cell{
		font-size:50px;
	}

	#status{
		font-size:18px;
	}

	.top{
		flex-direction:column;
		gap:12px;
	}
}